@tailwind base;
@tailwind components;
@tailwind utilities;

.electron {fill: #9bbaf4;
    stroke: #144aac;
    stroke-width: 2px;}

.proton {
    fill: lightcoral;
    stroke: maroon;
    stroke-width: 2px;
}